<main>
  <div>
    <h1>Found in {{ $ctrl.name }}.html</h1>
    <h1>Password: {{ $ctrl.randomPassword }}</h1>
    <h1>Password A: {{ $ctrl.randomPassword|limitTo:10 }}</h1>
    <h1>Password B: {{ $ctrl.randomPassword |limitTo:20:10}}</h1>
    <label>Destination address:<input ng-model="$ctrl.destinationAddress" /></label><br>
    <label>Source address:<input ng-model="$ctrl.sourceAddress" /></label><br>
    <label>RPC provider URL:<input ng-model="$ctrl.rpcProviderUrl" /></label><br>
    <label>Value to lock:<input ng-model="$ctrl.lockAmount" /></label><br>

    <div ng-if="$ctrl.instanceAddress"><h1>Contract deployed: {{ $ctrl.instanceAddress }}</h1></div>
    <button ng-click="$ctrl.getLocalhost()">clickme</button>
    <button ng-click="$ctrl.createRandomPassword()">random pass</button>
    <button ng-click="$ctrl.deployContranct()">deploy</button>

  </div>
</main>
